 body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-size: cover;
    position: relative;
 }
 #frame {
    margin: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
 }
 iframe#telae {
    position: relative;
    width: 267px ;
    height: 471px;
    left: 22px;
    top: 80px;
 }
 section#redes-sociais a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: right;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.322);
    margin: 5px;
 }
 section#redes-sociais {
    text-align: right;
 }
 section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-sizing: border-box;
    transition: transform .3s;
 }
 